.task-bar{
    display: block;
    height: 100px;
    padding: 5px;
    border: 1px solid white;    
    background-color: rgb(97, 193, 231); 
    font-size: "100";
    text-align: start;
    color: white;
    
}
.tsktext{
  position: absolute; 
  top: 40px; 
  left: 47%; 
  width: 100%; 
  font-size: xx-large;
}
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(97, 193, 231);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 8px;
}
.hr{
    padding-top: 0%;    
}
.container-or{
  position: relative;
    margin: 30px 0 20px;
    color: #b7c9cc;
    text-align: center;
}
.container-or .label-text{
  position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 30px;
    background: #fff;
}
.container-or::before{
  position: absolute;
    top: 50%;
    left: 0;
    margin-top: -.5px;
    width: 100%;
    border-top: 1px solid #b7c9cc;
    content: "";
}
.google-login{
  background-color: rgb(236, 97, 72);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.epam-login{
  background-color: rgb(211, 238, 62);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
